<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/">
                    <img src="~/images/zerix-logo.png" alt="Logo" class="d-inline-block align-top logo-responsive" />
                </a>
                <div class="d-flex justify-content-end align-items-center" id="navbarNavDropdown">
                    <ul class="navbar-nav me-3">
                        <!-- Dropdown for desktop view User-->
                        <li class="nav-item dropdown d-none d-sm-block"> <!-- Only visible on desktop -->
                            <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="txt-color-tertiary me-2 fs-18 fw-400">Welcome, </span><span class="fs-18 fw-400 txt-color-primary me-2">@ViewData["User"]</span>
                                <img src="~/images/icons/arrow-down.svg" height="12" width="12" alt="arrow-down" class="d-inline-block" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>

                        <!-- Offcanvas trigger for mobile view User-->
                        <li class="nav-item d-block d-sm-none">
                            <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#" id="navbarDropdownOffcanvasToggle" role="button" data-bs-toggle="offcanvas" data-bs-target="#UseroffcanvasDropdown" aria-controls="offcanvasDropdown" aria-expanded="false">
                                <span class="txt-color-tertiary me-2 fs-14 fw-400 ">Welcome, </span><span class="fs-14 fw-400 txt-color-primary">@ViewData["User"]</span>
                                <img src="~/images/icons/arrow-down.svg" height="12" width="12" alt="arrow-down" class="d-inline-block" />
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                             <a class="nav-link btn-orange-fill d-flex align-items-center px-2 px-md-3" asp-area="" asp-page="/Dashboard">
                                <img src="~/images/icons/dashboard.svg" alt="Logo" class="me-md-2"/>
                                <span class="fs-18 fw-400 txt-color-primary-alt d-none d-md-inline">Dashboard</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Off-canvas sidebar for dropdown menu in mobile view User-->
        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="UseroffcanvasDropdown" aria-labelledby="offcanvasDropdownLabel">
            <div class="offcanvas-body">
                <ul class="navbar-nav">
                    <li><a class="nav-link txt-color-secondary" href="#">Profile</a></li>
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow pb-4">
            <div class="container">
                <!-- Messages dropdown button -->
                <ul class="navbar-nav me-3">
                    <li class="nav-item dropdown d-none d-sm-block">
                        <a class="fs-5 nav-link text-dark d-flex align-items-center btn-orange border-orange py-2 px-2 px-md-3 py-md-2" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/images/icons/mail-orange.svg" height="28" width="28" alt="Logo" class="d-inline-block align-top me-2 color-primary" />
                            <span class="txt-color-primary me-4 fs-20 fw-400">Messages</span>
                            <img src="~/images/icons/arrow-down.svg" height="12" width="12" alt="arrow-down" class="d-inline-block me-2" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink2">
                            <li><a class="dropdown-item" href="#">All</a></li>
                            <li><a class="dropdown-item" href="#">Archive</a></li>
                        </ul>
                    </li>
                    <li class="nav-item d-block d-sm-none">
                        <a class="fs-5 nav-link text-dark d-flex align-items-center btn-orange border-orange py-2 px-2 px-md-3 py-md-2" href="#" id="navbarDropdownOffcanvasToggle" role="button" data-bs-toggle="offcanvas" data-bs-target="#MessageoffcanvasDropdown" aria-controls="offcanvasDropdown" aria-expanded="false">
                            <img src="~/images/icons/mail-orange.svg" height="21" width="21" alt="Logo" class="d-inline-block align-top ms-1 me-2 color-primary" />
                            <span class="txt-color-primary me-4 fs-16 fw-400">Messages</span>
                            <img src="~/images/icons/arrow-down.svg" height="12" width="12" alt="arrow-down" class="d-inline-block me-2" />
                        </a>
                    </li>
                </ul>

                <!-- Off-canvas toggle button for mobile dashboard -->
                <button class="navbar-toggler custom-toggler d-block d-sm-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#DashboardoffcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FF5400" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                        <line x1="6" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="9" y1="18" x2="21" y2="18"></line>
                    </svg>
                </button>
                

                <!-- Off-canvas sidebar for mobile view dashboard -->
                <div class="offcanvas offcanvas-end d-block d-sm-none offcanvas-half-width border border-end-0 rounded-start d-flex flex-column" tabindex="-1" id="DashboardoffcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="mt-4 offcanvas-title fw-bold fs-1" id="offcanvasNavbarLabel">Dashboard</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <hr>
                    <div class="offcanvas-body">
                        <!-- Main navigation links -->
                        <div class="d-flex flex-column align-items-start">
                            <ul class="navbar-nav me-3">
                                <!-- Corrected links without data-bs-toggle and unique ids -->
                                <li class="nav-item">
                                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#contacts">
                                        <img src="~/images/icons/contacts.svg" alt="Contacts" height="21" width="24" class="icon me-3" />
                                        <span class="fs-4 fw-light">Contacts</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#keywords">
                                        <img src="~/images/icons/keyword.svg" alt="Keywords" height="21" width="24" class="icon me-3" />
                                        <span class="fs-4 fw-light">Keywords</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#notifications">
                                        <img src="~/images/icons/notification.svg" alt="Notifications" height="21" width="24" class="icon me-3" />
                                        <span class="fs-4 fw-light">Notifications</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#reports">
                                        <img src="~/images/icons/Reports.svg" alt="Reports" height="21" width="24" class="icon me-3" />
                                        <span class="fs-4 fw-light">Reports</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#pollster">
                                        <img src="~/images/icons/poll.svg" alt="Pollster" height="21" width="24" class="icon me-3" />
                                        <span class="fs-4 fw-light">Pollster</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#scheduler">
                                        <img src="~/images/icons/scheduler.svg" alt="Scheduler" height="21" width="24" class="icon me-3" />
                                        <span class="fs-4 fw-light">Scheduler</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#settings">
                                        <img src="~/images/icons/settings.svg" alt="Settings" height="21" width="24" class="icon me-3" />
                                        <span class="fs-4 fw-light">Settings</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#others">
                                        <img src="~/images/icons/others.svg" alt="Others" height="21" width="24" class="icon me-3" />
                                        <span class="fs-4 fw-light">Others</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Logout link at the bottom -->
                    </div>
                    <div class="mt-auto mb-4">
                        <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#logout">
                            <img src="~/images/icons/log-out-black.svg" alt="Logout" height="21" width="24" class="icon me-3" />
                            <span class="fs-4 fw-light">Logout</span>
                        </a>
                    </div>
                </div>


                <!-- Navbar content for larger screens -->
                <div class="collapse navbar-collapse justify-content-end d-none d-sm-flex" id="navbarNavDropdown">
                    <div class="navbar-nav d-flex flex-row">
                        <a class="nav-link box btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center txt-color-primary" asp-area="" asp-page="/Dashboard">
                            <img src="~/images/icons/contacts.svg" height="30" width="30" alt="Contacts" class="icon my-1" />
                            <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Contacts</span>
                        </a>
                        <a class="nav-link box btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center" href="#">
                            <img src="~/images/icons/keyword.svg" height="30" width="30" alt="Keywords" class="icon my-1" />
                            <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Keywords</span>
                        </a>
                        <a class="nav-link box btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center" href="#">
                            <img src="~/images/icons/notification.svg" height="30" width="30" alt="Notifications" class="icon my-1" />
                            <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Notifications</span>
                        </a>
                        <a class="nav-link box btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center" href="#">
                            <img src="~/images/icons/reports.svg" height="30" width="30" alt="Reports" class="icon my-1" />
                            <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Reports</span>
                        </a>
                        <a class="nav-link box btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center" href="#">
                            <img src="~/images/icons/poll.svg" height="30" width="30" alt="Pollster" class="icon my-1" />
                            <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Pollster</span>
                        </a>
                        <a class="nav-link box btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center" href="#">
                            <img src="~/images/icons/scheduler.svg" height="30" width="30" alt="Scheduler" class="icon my-1" />
                            <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Scheduler</span>
                        </a>
                        <a class="nav-link box btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center" href="#">
                            <img src="~/images/icons/settings.svg" height="30" width="30" alt="Settings" class="icon my-1" />
                            <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Settings</span>
                        </a>
                        <a class="nav-link box btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center" href="#">
                            <img src="~/images/icons/others.svg" height="30" width="30" alt="Others" class="icon my-1" />
                            <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Others</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Off-canvas sidebar for dropdown menu in mobile view -->
        <div class="offcanvas offcanvas-bottom" tabindex="-2" id="MessageoffcanvasDropdown" aria-labelledby="offcanvasDropdownLabel">
            <div class="offcanvas-body">
                <ul class="navbar-nav">
                    <li><a class="nav-link txt-color-secondary" href="#">All</a></li>
                    <li><a class="nav-link txt-color-secondary" href="#">Messages</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
