<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/images/logo.png" alt="Logo" class="d-inline-block align-top logo-responsive" />
                </a>
                <div class="d-flex justify-content-end align-items-center" id="navbarNavDropdown">
                    <ul class="navbar-nav me-3">
                        <li class="nav-item dropdown">
                            <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="txt-color-tertiary me-2">Welcome, </span><span class="txt-color-primary">@ViewData["User"]</span>
                                <i class="bi bi-chevron-down ms-1 bold-chevron txt-color-primary"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                             <a class="nav-link btn-orange-fill d-flex align-items-center px-2 px-md-3" asp-area="" asp-page="/Dashboard">
                                <img src="~/images/icons/home-white.svg" alt="Logo" height="20" width="23" class="me-md-1"/>
                                <span class="fs-5 ms-2 mt-1 txt-color-primary-alt d-none d-md-inline">Dashboard</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow pb-4">
            <div class="container">
                <!-- Messages dropdown button -->
                <ul class="navbar-nav me-3">
                    <li class="nav-item dropdown">
                        <a class="fs-5 nav-link text-dark d-flex align-items-center btn-orange py-2 px-2 px-md-3 py-md-2" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/images/icons/mail.svg" alt="Logo" class="d-inline-block align-top me-2 color-primary" />
                            <span class="txt-color-primary me-2">Messages</span>
                            <i class="bi bi-chevron-down ms-1 bold-chevron txt-color-primary"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink2">
                            <li><a class="dropdown-item" href="#">All</a></li>
                            <li><a class="dropdown-item" href="#">Archive</a></li>
                        </ul>
                    </li>
                </ul>

                <!-- Off-canvas toggle button for mobile -->
                <button class="navbar-toggler d-block d-sm-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Off-canvas sidebar for mobile view -->
                <div class="offcanvas offcanvas-end d-block d-sm-none offcanvas-half-width border border-end-0 rounded-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="mt-4 offcanvas-title fw-bold fs-1" id="offcanvasNavbarLabel">Dashboard</h5>
                    </div>
                    <hr>
                    <div class="offcanvas-body">
                        <div class="d-flex flex-column align-items-start">
                            <ul class="navbar-nav me-3">
                                <li class="nav-item">
                                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/images/icons/users.svg" alt="Contacts"  height="21" width="24" class="icon me-3" />
                                        <span class="fs-4 fw-light txt-color-primary">Contacts</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/images/icons/key.svg" alt="Keywords"  height="21" width="24" class="icon me-3" />
                                        <span class="fs-4 fw-light txt-color-primary">Keywords</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/images/icons/bell.svg" alt="Notifications"  height="21" width="24" class="icon me-3" />
                                        <span class="fs-4 fw-light txt-color-primary">Notifications</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/images/icons/bar-chart.svg" alt="Reports"  height="21" width="24" class="icon me-3" />
                                        <span class="fs-4 fw-light txt-color-primary">Reports</span>
                                    </a>
                                </li>
                            </ul>
   
                        </div>
                    </div>
                </div>

                <!-- Navbar content for larger screens -->
                <div class="collapse navbar-collapse justify-content-end d-none d-sm-flex" id="navbarNavDropdown">
                    <div class="navbar-nav d-flex flex-row">
                        <a class="nav-link box btn-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center txt-color-primary" asp-area="" asp-page="/Dashboard">
                            <img src="~/images/icons/users.svg" alt="Contacts" class="icon" />
                            <span class="txt-color-primary">Contacts</span>
                        </a>
                        
                        <a class="nav-link box btn-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center" href="#">
                            <img src="~/images/icons/key.svg" alt="Keywords" class="icon" />
                            <span class="txt-color-primary">Keywords</span>
                        </a>
                        
                        <a class="nav-link box btn-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center" href="#">
                            <img src="~/images/icons/bell.svg" alt="Notifications" class="icon" />
                            <span class="txt-color-primary">Notifications</span>
                        </a>
                        
                        <a class="nav-link box btn-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center" href="#">
                            <img src="~/images/icons/bar-chart.svg" alt="Reports" class="icon" />
                            <span class="txt-color-primary">Reports</span>
                        </a>

                        <a class="nav-link box btn-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center" href="#">
                            <img src="~/images/icons/list.svg" alt="Pollster" class="icon" />
                            <span class="txt-color-primary">Pollster</span>
                        </a>
                        
                        <a class="nav-link box btn-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center" href="#">
                            <img src="~/images/icons/calendar.svg" alt="Scheduler" class="icon" />
                            <span class="txt-color-primary">Scheduler</span>
                        </a>
                        
                        <a class="nav-link box btn-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center" href="#">
                            <img src="~/images/icons/settings.svg" alt="Settings" class="icon" />
                            <span class="txt-color-primary">Settings</span>
                        </a>

                        <a class="nav-link box btn-orange d-flex flex-column align-items-center px-2 px-md-3 me-2 text-center" href="#">
                            <img src="~/images/icons/grid.svg" alt="Others" class="icon" />
                            <span class="txt-color-primary">Others</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
