.txt-color-primary {
    color: #FF5400;
}

.txt-color-primary-alt {
    color: white;
}

.txt-color-secondary {
    color: #495057;
}

.txt-color-tertiary {
    color: #878A99;
}

.btn-orange-fill {
    background-color: #ff6600;
    color: white;
    border-radius: 4px;
    border: 1px;
}

.color-primary {
    color: #FF5400;
}

.color-primary-alt {
    color: white;
}

.btn-orange-fill:hover {
    background-color: #e65c00;
    color: white;
}

.box {
    width: 75px; /* Fixed width for each box */
    height: 70px; /* Fixed height for each box */
    padding: 12px 18px; /* Padding inside each box */
    border: 2px solid #ff6600; /* Orange border */
    border-radius: 4px; /* Rounded corners */
    text-decoration: none; /* Remove underline from links */
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Stack icon and text vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    overflow: hidden; /* Hide overflow content */
    text-align: center; /* Center text */
    gap: 6px; /* Gap between icon and text */
    background-color: transparent; /* Transparent background */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover */
}

.box span {
    font-size: smaller;
}

.btn-orange {
    background-color: white;
    color: white;
    border-radius: 4px;
    border: 1px solid #ff6600; 
}

.btn-orange:hover {
    border-color: #e65c00;
    color: white;
}

.btn-orange .icon {
    width: 30px; /* Icon width */
    height: 30px; /* Icon height */
    fill: #e65c00; /* Inherit the current text color */
}

.btn-orange:disabled {
    border-color: #808080;
    color: white;
}

.bold-chevron {
    /* Increase the font size slightly */
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    /* Add a shadow to create a bold effect */
}

/* Custom class to control the width of the off-canvas sidebar */
.offcanvas-half-width {
    width: 50% !important; /* Set the width to 50% */
    max-width: 300px; /* Optionally, set a max-width */
}
