html {
  font-size: 14px;
  font-family: "Microsoft Sans Serif", sans-serif;
  height: 100vh;
}

/* Default logo size */
.logo-responsive {
  height: 65px;
  /* Default size for larger screens */
}

.dashboard-responsive {
  padding: 1.5rem, 1.2rem;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Optionally, ensure all text elements inherit the font */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
div,
button,
input,
textarea {
  font-family: "Microsoft Sans Serif", sans-serif;
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Microsoft Sans Serif", sans-serif;
}

body {
  font-family: "Microsoft Sans Serif", sans-serif;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .logo-responsive {
    height: 50px;
  }
  .hide-border {
    border: none !important;
  }
}

@media (max-width: 576px) {
  .logo-responsive {
    height: 40px;
  }

  .message-body {
    overflow-y: auto;
    background-color: #f7f7f7;
    border-radius: 0.25rem;
  }
}
